<mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)" gutterSize="0">
  <mat-grid-tile *ngFor="let tile of tiles" [id]="tile.section" [colspan]="breakpoint === 1 ? 1 : tile.cols"
    [rowspan]="tile.component === 'empty' && breakpoint === 1 ? 0 : tile.rows" [style.background]="tile.color"
    class="grid-tile">

    <div *ngIf="tile.component === 'image-and-map' || tile.component === 'map'" class="grid-image">

      <img *ngIf="tile.imageOrMap === 'image'" src="{{ tile.img }}" />

      <iframe *ngIf="tile.map" [src]="tile.map" width="95%" [height]="tile.imageOrMap === 'map' ? '90%' : 0"
        style="border: 0" allowfullscreen="" loading="lazy"></iframe>

      <mat-button-toggle-group name="imageOrMap" *ngIf="tile.img && tile.map" aria-label="Image or map"
        [(value)]="tile.imageOrMap">
        <mat-button-toggle value="image">
          <mat-icon aria-hidden="true">image</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="map">
          <mat-icon aria-hidden="true">place</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <div *ngIf="tile.mapKey" class="map-key">
        <div *ngFor="let keyObject of tile.mapKey" class="map-key-item">
          <mat-icon>{{ keyObject.icon }}</mat-icon>
          <span>{{ keyObject.name }}</span>
        </div>
      </div>
    </div>

    <div *ngIf="tile.component === 'simple-text' || tile.component === 'create-rsvp'" class="grid-info">
      <h1>{{ tile.title }}</h1>
      <mat-icon aria-hidden="true" color="primary">favorite</mat-icon>
      <p class="mat-body-1" *ngFor="let text of tile.text">{{ text }}</p>
      <p *ngIf="tile.component === 'create-rsvp'">
        <app-create-rsvp></app-create-rsvp>
      </p>
    </div>

    <div *ngIf="tile.component === 'image-and-text'" class="grid-image-and-text">
      <mat-icon aria-hidden="true" color="primary">{{ tile.img }}</mat-icon>
      <h1>{{ tile.title }}</h1>
      <p class="mat-body-1" *ngFor="let text of tile.text">{{ text }}</p>
    </div>

  </mat-grid-tile>
</mat-grid-list>
