<div class="h-2/4 relative">
  <div class="absolute inset-0">
    <img
      src="https://s3-alpha-sig.figma.com/img/9031/30d9/e3cbaa8ecc745c5915c474dd9113dc5f?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qp2j-~0xRzlOWmD3u0bX1WX8pwcRlHyjl5n8m5pQsMtPJI9PHnJ1if3OXva9gj9gWig5vv1RYxNI5KWwcREXv~8SjKdt3HNIg5nlH9hJrO2kh3fYfXNaHxYT9sNhB6bcHfcO7Kc-3Ol8clCozRiUnkfkCpju6ICd-VXLc8jSrr8Rhffcp0VgPJS87Gf1gqCokdbUD22F7uXRJez-PLNPqqQtbr3GAX6ksgJJL4vP7aBXZVSkNBF0udNY4QcDFqFpwJMO~a7WN9ga1YmUzCtLSsofqaf-mj-Yf-nTv-wg2ike6mq0XYlk5JuIDuOphqYttCLKJ18X93NjvL2Duy4ucA__"
      alt="Background Image"
      class="object-cover object-center w-full h-full"
    />

    <div class="absolute inset-0 bg-black opacity-10"></div>
  </div>
  <div
    class="relative z-10 flex flex-col justify-center items-center h-full mx-auto max-w-2xl py-4 border-b"
  >
    <div class="text-center">
      <h1
        class="text-balance text-5xl font-semibold tracking-tight text-lemon sm:text-7xl"
      >
        Soft & cuddly
      </h1>
      <p class="mt-8 text-pretty text-lg font-medium text-lemon sm:text-xl/8">
        Anim aute id magna aliqua
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <app-button type="filled" text="Get started"></app-button>
        <app-button
          type="text"
          text="Discover →"
          class="text-white"
        ></app-button>
      </div>
    </div>
  </div>
</div>
