<div
  *ngIf="!!carouselData"
  id="carousel"
  class="relative padding-between-components lg:mx-8"
>
  <div class="flex px-10 lg:px-2">
    <app-heading3>{{ carouselData.title }}</app-heading3>
    <app-button
      id="btn-all"
      class="-mt-3 ml-auto text-gray-400"
      [appNavigateTo]="carouselData.href"
      text="All"
      appendIcon="rightArrow"
      textColor="gray-400"
      [ariaLabel]="'View all ' + carouselData.title"
    ></app-button>
  </div>
  <div class="flex overflow-x-auto">
    <div class="flex h-full m-auto" [ngClass]="hiddenSideScrollClasses">
      <app-button
        id="btn-scroll-left"
        (click)="scrollLeft()"
        fillColor="lemon"
        icon="leftArrow"
        [tabindex]="'-1'"
      ></app-button>
    </div>
    <div #carouselContainer class="overflow-x-auto w-full mx-auto scroll-y-hidden">
      <div
        class="grid px-10 lg:px-2 py-2 overflow-y-hidden mx-auto"
        [ngClass]="getCarouselTypeStyles()"
      >
        <a
          *ngFor="let card of carouselData.cards"
          [appNavigateTo]="card.link"
          [attr.aria-label]="card.title"
          tabindex="0"
          class="flex-none w-full max-w-screen rounded snap-center cursor-pointer transition ease-in-out delay-150 hover:translate-y-0 hover:scale-105 duration-300"
        >
          <app-carousel-card
            [type]="carouselData.type"
            [card]="card"
          ></app-carousel-card>
        </a>
      </div>
    </div>
    <div class="flex h-full m-auto" [ngClass]="hiddenSideScrollClasses">
      <app-button
        id="btn-scroll-right"
        (click)="scrollRight()"
        fillColor="lemon"
        icon="rightArrow"
        tabindex="-1"
        [tabindex]="'-1'"
      ></app-button>
    </div>
  </div>
</div>
