<div>
  <button
    class="hover:bg-slate-100 text-black font-black text-sm leading-6 font-medium -mt-3 pt-0 px-2 pb-2 rounded-full"
    type="button" (click)="menuVisible=!menuVisible">...</button>
  <ul *ngIf="menuVisible" class="absolute bg-white w-max py-1 -ml-9 drop-shadow-md rounded-lg z-10 right-0 md:right-auto">
    <li class="hover:bg-slate-100 px-4 md:px-3 py-1 md:py-0" (click)="checkOutClicked()"><button>Check out</button></li>
    <li class="hover:bg-slate-100 px-4 md:px-3 py-1 md:py-0" *ngIf="costume.checkedOutCount > 0" (click)="checkInClicked()"><button>Check in</button></li>
    <li class="hover:bg-slate-100 px-4 md:px-3 py-1 md:py-0 text-red-500" (click)="deleteClicked()"><button>Delete</button></li>
  </ul>
</div>
