<div>
  <div class="max-w-7xl pb-16 mx-auto">
    <div class="md:flex">
      <div class="w-full md:w-3/4 pb-8 md:border-r border-primary">
        <app-item-list
          [items]="basketProducts"
          title="Basket"
          (removeItem)="removeFromBasket($event)"
        ></app-item-list>
      </div>
      <div id="summary" class="w-full md:w-1/4 md:w-1/2">
        <app-heading3 class="border-b border-primary block px-8 pb-8"
          >Order Summary</app-heading3
        >
        <div
          [class.opacity-10]="!(basketProducts && basketProducts.length > 0)"
        >
          <div class="px-8">
            <form>
              <div class="flex justify-between mt-10 mb-5">
                <span class="font-semibold text-sm uppercase"
                  >{{ basketProducts.length }} Items</span
                >
                <span class="font-semibold text-sm">£{{ basketTotal }}</span>
              </div>
              <div>
                <label class="font-medium inline-block mb-3 text-sm uppercase">
                  Shipping
                </label>
                <select class="block p-2 text-gray-600 w-full text-sm">
                  <option>Next Day - £3.49</option>
                </select>
              </div>
              <div class="pt-4">
                <label
                  for="promo"
                  class="font-medium inline-block mb-3 text-sm uppercase"
                >
                  Promo Code
                </label>
                <input
                  type="text"
                  id="promo"
                  placeholder="Enter your code"
                  class="p-2 text-sm w-full"
                />
              </div>
              <app-button
                appendIcon="rightArrow"
                text="APPLY"
                ariaLabel="Apply promo code"
              ></app-button>
            </form>
          </div>
          <div class="border-t border-primary">
            <div class="px-8">
              <div
                class="flex font-semibold justify-between py-6 text-sm uppercase"
              >
                <span>Total cost</span>
                <span>£{{ basketTotal }}</span>
              </div>
              <app-button class="w-full m-2" text="Buy now" [pill]="true">
              </app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
