<div class="relative overflow-hidden m-auto w-full md:w-3/4">
  <div class="absolute w-full">
    <div class="flex">
      <div class="flex h-64 w-1/4">
        <div class="mt-auto ml-auto -mr-14 triangle-bottomleft"></div>
      </div>
      <div class="mt-4 h-52 w-3/4">
        <div class="h-full w-full rotate-3 bg-purple"></div>
      </div>
      <div class="flex h-52 w-1/4 pl-2">
        <div class="h-32 w-1/4 -rotate-6 mt-auto bg-green"></div>
        <div class="h-12 w-12 ml-2 rounded-full mt-auto bg-orange"></div>
      </div>
    </div>
  </div>
  <div class="relative flex h-full">
    <div class="flex flex-col mx-auto mt-10 mb-14 text-center text-white">
      <app-heading3 class="w-full">
        {{ sectionData.header }}
      </app-heading3>

      <app-body class="w-2/4 lg:w-3/4 m-auto text-white">
        {{ sectionData.subHeader }}
      </app-body>

      <div class="flex h-24">
        <app-button
          *ngIf="!!sectionData.buttonPrimary"
          class="w-32 md:w-1/2 m-auto"
          [text]="sectionData.buttonPrimary.label"
          [pill]="true"
          [appNavigateTo]="sectionData.buttonPrimary.action"
        >
        </app-button>
      </div>
    </div>
  </div>
</div>
