<div class="relative overflow-hidden h-96 m-auto w-3/4">
  <div class="absolute mt-16 w-full">
    <div class="flex">
      <div class="flex h-64 w-1/4">
        <div class="mt-auto ml-auto -mr-14 triangle-bottomleft"></div>
      </div>
      <div class="h-52 w-3/4">
        <div class="h-full w-full rotate-3 bg-purple"></div>
      </div>
      <div class="flex h-52 w-1/4 pl-2">
        <div class="h-32 w-1/4 -rotate-6 mt-auto bg-green"></div>
        <div class="h-12 w-12 ml-2 rounded-full mt-auto bg-orange"></div>
      </div>
    </div>
  </div>
  <div class="relative flex h-full">
    <div class="flex flex-col m-auto text-center text-white mt-24">
      <h1 class="w-full text-2xl sm:text-4xl font-black">Our impact</h1>
      <p class="w-2/4 lg:w-3/4 m-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
      <a
        class="mt-8 md:mt-12 py-4 px-8 m-auto w-2/4 rounded-full bg-black text-white uppercase"
        href="explore"
      >
        Explore
      </a>
    </div>
  </div>
</div>
