<div class="flex">
  <ng-container *ngIf="!banner">
    <button
      type="button"
      [attr.aria-label]="ariaLabel"
      [disabled]="disabled"
      class="flex items-center rounded text-sm/[14px] gap-x-1 font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 duration-300 transition ease-in-out"
      [ngClass]="buttonClasses"
    >
      <app-icon
        *ngIf="!!icon || !!prependIcon"
        [color]="textColor"
        [icon]="icon ?? prependIcon ?? ''"
      ></app-icon>
      <span *ngIf="!!text" class="m-auto">{{ text }}</span>
      <app-icon
        *ngIf="!!appendIcon"
        [color]="textColor"
        [icon]="appendIcon"
      ></app-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="!!banner">
    <button
      class="-mx-3 block rounded-lg w-full text-left px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-lemonDark"
      [attr.aria-label]="ariaLabel"
    >
      {{ text }}
    </button>
  </ng-container>
</div>
