<header
  [class.hidden]="!showHeader"
  class="fixed z-10 sm:unset bg-lemon w-full sm:inline"
>
  <a
    [href]="skipLinkHref"
    class="skip-nav focus:block absolute bg-blue-600 text-white p-2 rounded"
  >
    Skip to main content
  </a>

  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a
        appNavigateTo="home"
        [class.hidden]="!isHome"
        class="h-8 w-auto sm:inline cursor-pointer"
        tabindex="0"
        aria-label="Home"
      >
        <span class="sr-only">Little Loft</span>
        <img src="../assets/little-loft.png" alt="Little Loft Logo" />
      </a>
      <app-button
        prependIcon="leftArrow"
        text="BACK"
        appNavigateTo="home"
        [class.hidden]="isHome"
        class="inline sm:hidden"
        ariaLabel="Back to home"
      ></app-button>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <div class="relative">
        <app-button
          id="btnSearch"
          appendIcon="search"
          text="Search"
          (click)="toggleSearchMenu()"
          class="flex"
        ></app-button>

        <app-search-section *ngIf="showSearchSubMenu"></app-search-section>
      </div>

      <app-button
        id="btnExplore"
        text="Explore"
        appNavigateTo="explore"
        class="flex"
      ></app-button>

      <app-button
        id="btnSell"
        text="Sell"
        appNavigateTo="sell"
        class="flex"
      ></app-button>

      <app-button
        id="btnInbox"
        text="Inbox"
        appNavigateTo="inbox"
        class="flex"
      ></app-button>
    </div>

    <div class="flex flex-1 justify-end">
      <app-button
        *ngIf="!loggedIn"
        id="btnLogIn"
        text="Log in"
        appNavigateTo="login"
        class="hidden lg:flex my-auto"
      ></app-button>

      <app-button
        *ngIf="loggedIn"
        id="btnProfile"
        text="Profile"
        appNavigateTo="profile"
        class="hidden lg:flex my-auto"
      ></app-button>

      <div
        class="relative border-2 border-transparent text-gray-800 rounded-full focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out"
      >
        <app-button
          icon="heart"
          ariaLabel="Favourites"
          appNavigateTo="favourites"
          class="my-auto"
        ></app-button>
        <span
          *ngIf="inWishlist > 0"
          class="absolute w-4 h-4 inset-0 object-right-top mt-2 ml-8"
        >
          <div
            class="text-center w-4 h-4 rounded-full text-xs font-semibold leading-4 bg-red-500 text-white"
          >
            {{ inWishlist }}
          </div>
        </span>
      </div>

      <div
        class="relative border-2 border-transparent text-gray-800 rounded-full focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out"
      >
        <app-button
          icon="cart"
          ariaLabel="Shopping basket"
          appNavigateTo="basket"
          class="my-auto"
        ></app-button>
        <span
          *ngIf="inBasket > 0"
          class="absolute w-4 h-4 inset-0 object-right-top mt-2 ml-8"
        >
          <div
            class="text-center w-4 h-4 rounded-full text-xs font-semibold leading-4 bg-red-500 text-white"
          >
            {{ inBasket }}
          </div>
        </span>
      </div>

      <app-button
        icon="burgerMenu"
        ariaLabel="Open side menu"
        (click)="showSideMenu = true"
        class="my-auto hidden sm:inline-flex lg:hidden"
      ></app-button>
    </div>
  </nav>

  <div *ngIf="showSideMenu" class="lg:hidden" role="dialog" aria-modal="true">
    <app-side-menu
      [loggedIn]="loggedIn"
      (closeMenu)="showSideMenu = false"
    ></app-side-menu>
  </div>
</header>
