<div *ngIf="!!item">
  <img
    [src]="item.imageSrc"
    [alt]="item.alt"
    class="w-full max-w-full object-cover rounded"
    [ngClass]="
      inImage
        ? 'max-h-72 h-56 sm:h-auto'
        : isSingleLine
          ? 'h-32 md:h-40'
          : 'h-40 md:h-auto'
    "
  />
  <app-heading4
    *ngIf="inImage; else doubleLine"
    class="absolute bottom-0 left-0 pl-[15px] pb-[17px]"
  >
    {{ item.title }}
  </app-heading4>

  <ng-template #doubleLine>
    <div class="pt-2.5">
      <p
        class="text-sm/[14px] sm:text-base/5 font-bold text-wrap line-clamp-3 md:line-clamp-2"
      >
        {{ item.title }}
      </p>

      <p
        *ngIf="!isSingleLine"
        class="text-xs/4 sm:text-sm font-bold opacity-30 block mt-1.5 sm:mt-0"
      >
        £{{ item.price }}
      </p>
    </div>
  </ng-template>
</div>
