<div>
  <section id="features" class="relative block p-10">
    <div class="relative mx-auto max-w-5xl text-center">
      <app-eyebrow class="block mb-3">
        {{ splashScreenInfo.sections[0].header }}
      </app-eyebrow>

      <app-heading1>
        {{ splashScreenInfo.sections[0].subHeader }}
      </app-heading1>

      <app-body class="block my-4 tracking-wide">{{
        splashScreenInfo.sections[0].body
      }}</app-body>
    </div>

    <div
      class="grid grid-cols-1 text-center sm:grid-cols-2 sm:gap-x-12 gap-y-12 md:grid-cols-3 md:gap-0 mt-8"
    >
      <div
        *ngFor="let bullet of bullets; index as i"
        class="md:p-8 lg:p-14 border-l md:border-gray-200 flex flex-col items-center"
        [class.border-l]="i > 0"
      >
        <div
          class="w-14 h-14 rounded-full flex justify-center items-center"
          [ngClass]="bullet.color"
        >
          <app-icon
            [icon]="bullet.icon"
            color="white"
            class="text-3xl text-gray-900"
          ></app-icon>
        </div>
        <app-heading3 class="mt-12 justify-end">
          {{ bullet.subHeader }}
        </app-heading3>
        <app-body class="mt-auto pt-2 text-gray-600">{{
          bullet.body
        }}</app-body>
      </div>
    </div>
  </section>
</div>
