.like {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.heart {
  background-image: url('https://assets.codepen.io/23500/Hashflag-AppleEvent.svg');
  background-size: calc(64px * 62) 64px;
  background-repeat: no-repeat;
  background-position-x: calc(64px * (62 * -1 + 2));
  background-position-y: calc(64px * 0.02);
}

input:checked + .heartUnchecked {
  animation: like 1s steps(calc(62 - 3));
  animation-fill-mode: forwards;
}

input:checked + .heartChecked {
  animation: like 0s steps(calc(62 - 3));
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: calc(64px * (62 * -1 + 3));
  }
}
