<div *ngIf="filterOptions" class="my-6 lg:mt-20 mx-auto w-60">
  <button
    type="button"
    class="block lg:hidden bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-3 m-auto rounded-lg"
    (click)="filterChanged.emit({ filters: filters, closePanel: true })"
  >
    Apply filters
  </button>
  <div class="ml-20 mr-4 mb-5 justify-center flow-root">
    <div>
      <p class="py-4 font-sans font-medium">Description</p>
      <div>
        <input
          class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-1 px-4 ring-1 ring-slate-200 shadow-sm"
          type="text"
          [(ngModel)]="descriptionSearchValue"
          (ngModelChange)="onDescriptionChange()"
        />
      </div>
    </div>
  </div>
  <div class="ml-20 mr-4 border-gray-100 border-t justify-center flow-root">
    <details>
      <summary>
        <p class="py-4 font-sans font-medium">Colours</p>
      </summary>
      <div class="pb-4 filter-group">
        <div
          class="form-check inline-block"
          *ngFor="let costumeColour of filterOptions.colours; let index = index"
        >
          <p
            *ngIf="colourHover === costumeColour.label"
            class="absolute bg-slate-400 opacity-90 text-white mt-7 px-2 rounded-sm"
          >
            {{ costumeColour.label }} ({{ costumeColour.count }})
          </p>
          <input
            class="form-check-input appearance-none h-6 w-6 border rounded-full border-gray-300 bg-white checked:border-gray-400 checked:border-2 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
            type="checkbox"
            (change)="colourChecked(costumeColour)"
            [value]="costumeColour.label"
            [id]="'flexCheckDefault' + index"
            [style.background]="localGetBgColour(costumeColour.label)"
            (mouseover)="colourHover = costumeColour.label"
            (mouseout)="colourHover = ''"
          />
          <label [for]="'flexCheckDefault' + index">
            <mat-icon
              *ngIf="filters.colours.includes(costumeColour)"
              class="absolute central-icon cursor-pointer"
              >done</mat-icon
            >
          </label>
        </div>
      </div>
    </details>
  </div>

  <div class="ml-20 mr-4 border-gray-100 border-t justify-center">
    <details>
      <summary>
        <p class="py-4 font-sans font-medium">Types</p>
      </summary>
      <div class="pb-4 filter-group">
        <div
          class="px-2 py-1 mr-2 my-1 border rounded-lg inline-block cursor-pointer"
          [ngClass]="
            filters.types.includes(costumeType)
              ? 'bg-black text-white'
              : 'bg-white text-gray-800'
          "
          (click)="typeChecked(costumeType)"
          *ngFor="let costumeType of filterOptions.types; let index = index"
        >
          <label
            class="form-check-label inline-block text-sm cursor-pointer"
            [for]="'typeCheckBox' + index"
          >
            {{ costumeType.label }} ({{ costumeType.count }})
          </label>
        </div>
      </div>
    </details>
  </div>

  <div class="ml-20 mr-4 border-gray-100 border-t justify-center">
    <details>
      <summary>
        <p class="py-4 font-sans font-medium">Sizes</p>
      </summary>
      <div class="pb-4 filter-group">
        <div
          class="px-2 py-1 mr-2 my-1 border rounded-lg inline-block cursor-pointer"
          [ngClass]="
            filters.sizes.includes(costumeSize)
              ? 'bg-black text-white'
              : 'bg-white text-gray-800'
          "
          (click)="sizeChecked(costumeSize)"
          *ngFor="let costumeSize of filterOptions.sizes; let index = index"
        >
          <label
            class="form-check-label inline-block text-sm cursor-pointer"
            [for]="'sizeCheckBox' + index"
          >
            {{ costumeSize.label }}
          </label>
        </div>
      </div>
    </details>
  </div>
</div>
