<div class="md:py-8 pb-40">
  <div class="max-w-6xl mx-auto px-10 sm:px-6 lg:px-8">
    <div
      class="flex flex-col md:flex-row"
      tabindex="0"
      [attr.aria-label]="'product' + product.title"
    >
      <div class="md:flex-1 px-0 sm:px-4 mb-8 md:mb-4">
        <div class="w-auto sm:w-max md:w-full relative rounded-lg mx-auto">
          <img
            class="md:w-full max-h-96 md:max-h-full m-auto object-cover rounded"
            [src]="product.imageSrc"
            alt="Product Image"
          />
          <app-heart-button
            class="md:hidden absolute -mt-7 right-2 bg-black rounded-full"
            (buttonClicked)="addToWishlist()"
            [default]="wishlistButtonDefault"
            [filled]="true"
          ></app-heart-button>
        </div>
      </div>
      <div class="md:flex-1 px-0 sm:px-4">
        <app-heading3 class="mb-2.5">{{ product.title }}</app-heading3>
        <app-body class="text-gray-600">
          {{ product.subtitle }}
        </app-body>
        <div class="mt-4">
          <app-heading5>About this seller</app-heading5>
          <div class="flex w-full">
            <img
              class="h-12 my-auto rounded"
              [src]="product.seller.imageSrc"
              [alt]="product.alt"
            />
            <div class="text-sm pl-3 my-auto">
              <p class="font-black">{{ product.seller.name }}</p>
              <p class="font-normal">Contact Seller</p>
            </div>
            <div class="ml-auto">
              <app-button
                appendIcon="rightArrow"
                text="SHOP"
                appNavigateTo="products"
                ariaLabel="Shop. View more items by this seller"
              ></app-button>
            </div>
          </div>
        </div>

        <div
          class="h-[60px] bg-lemon left-0 bottom-0 sm:h-auto flex md:block fixed sm:relative w-screen sm:w-full px-10 sm:p-0 -mt-1 sm:mt-0 border-primary border-t-2 sm:border-t-0 mb-16 sm:mb-0"
        >
          <div class="flex mr-4 my-auto sm:mt-4 w-full">
            <span class="text-xl my-auto font-extrabold"
              >£{{ product.price }}</span
            >
            <app-small-text class="ml-2 self-center"
              >+£3.49 postage</app-small-text
            >
          </div>

          <div class="flex my-auto w-full">
            <app-button
              class="block md:hidden ml-auto"
              [pill]="true"
              text="Buy now"
              size="sm"
              [disabled]="inBasket"
              (click)="addToBasket()"
            >
            </app-button>
            <app-button
              class="w-full m-2 hidden md:block"
              [pill]="true"
              text="Buy now"
              [disabled]="inBasket"
              (click)="addToBasket()"
            >
            </app-button>
            <app-heart-button
              class="hidden md:block"
              (buttonClicked)="addToWishlist()"
              [default]="wishlistButtonDefault"
            ></app-heart-button>
          </div>
        </div>

        <div class="mt-4">
          <app-heading5>Product Description</app-heading5>
          <app-body class="text-gray-600 mt-2">
            {{ product.description }}
          </app-body>
        </div>
      </div>
    </div>
  </div>
</div>
