<div class="relative pb-16 sm:pb-0 isolate max-w-2xl mx-auto lg:max-w-7xl">
  <app-carousel [carouselData]="categoryButtonsCarousel"></app-carousel>
  <app-hero-section-half-and-half></app-hero-section-half-and-half>
  <app-carousel [carouselData]="topSellersCarousel"></app-carousel>
  <app-carousel [carouselData]="specialPricesCarousel"></app-carousel>
  <app-carousel [carouselData]="shopLocalCarousel"></app-carousel>
  <app-carousel [carouselData]="toysAndGamesCarousel"></app-carousel>
</div>
