@import "~@angular/material/theming";
@import "../../customTheme.scss";
$theme-success: mat-palette($mat-green);
$theme-error: mat-palette($mat-red);

.my-radio-button {
  margin-bottom: 12px;

  label {
    cursor: pointer;
    display: inline-grid;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 16px;
    margin: 4px;
    width: 150px;
    border-radius: 8px;

    mat-icon {
      font-size: 46px;
      display: contents;
    }
  }

  label:not(.selected-radio) {
    mat-icon {
      color: #708090;
    }
  }

  input {
    display: none;
  }

  .green-radio {
    background-color: #13c77d;
    color: #fff;
  }

  .red-radio {
    background-color: mat-color($theme-error, 1);
    color: #fff;
  }
}

.example-full-width {
  width: 100%;
  margin: 0 4px;
}
