@import "~@angular/material/theming";
@import "../../customTheme.scss";
$theme-success: mat-palette($mat-green);
$theme-error: mat-palette($mat-red);

.my-radio-button {
  margin-bottom: 12px;

  label {
    cursor: pointer;
    display: inline-grid;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 16px;
    margin: 4px;
    width: 150px;
    border-radius: 8px;
    max-width: 33vw;
    min-height: 92px;

    mat-icon {
      font-size: 46px;
      display: contents;
    }
  }

  label:not(.selected-radio) {
    mat-icon {
      color: #708090;
    }
  }

  input {
    display: none;
  }

  .green-radio {
    background-color: #13c77d;
    color: #fff;
  }

  .red-radio {
    background-color: mat-color($theme-error, 1);
    color: #fff;
  }
}

.success-form {
  height: 320px;
  border-radius: 26px;
  width: 384px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
  padding-bottom: 16px;
  max-width: 90vw;
  margin: auto;

  div {
    padding: 16px 0 16px;
    width: 100%;
    background-color: mediumspringgreen;
    border-radius: 26px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
    margin: 0 0 16px;
  }

  img {
    z-index: 1;
    position: relative;
    width: 126px;
  }

  mat-icon {
    margin: -78px auto 0;
    position: absolute;
    font-size: 53px;
    color: #fff;
    height: 53px;
    width: 100%;
    display: block;
    left: 0;
  }

  h2 {
    font-size: 46px;
    color: #fff;
    font-family: 'Playfair Display';
  }

  button {
    background-color: #00fa9a;
    color: #fff;
    border-radius: 18px;
  }
}