<form [formGroup]="rsvpForm" (ngSubmit)="openDialog()" novalidate>
  <div class="mb-3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name(s)</mat-label>
      <input matInput id="rsvp-name" type="text" formControlName="name" class="form-control" required>
    </mat-form-field>
  </div>

  <div class="mb-3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Dietry requirements</mat-label>
      <textarea matInput type="text" formControlName="dietryRequirements" class="form-control"></textarea>
    </mat-form-field>
  </div>

  <div class="my-radio-button">
    <input [value]="1" id="yes" [(ngModel)]="attendingStatus" formControlName="attending" type="radio" required />
    <label for="yes" [ngClass]="{'selected-radio green-radio': attendingStatus === 1}">
      <mat-icon>sentiment_very_satisfied</mat-icon>
      <span>Accept with pleasure!</span>
    </label>

    <input [value]="0" id="no" [(ngModel)]="attendingStatus" formControlName="attending" type="radio" required />
    <label for="no" [ngClass]="{'selected-radio red-radio': attendingStatus === 0}">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <span>Decline with regret.</span>
    </label>
  </div>

  <div class="mb-3">
    <button mat-stroked-button color="primary" type="submit" [disabled]="!rsvpForm.valid">
      Confirm
    </button>
  </div>
</form>
