<form [formGroup]="rsvpForm" (ngSubmit)="openDialog()" novalidate *ngIf="!success">
  <div class="mb-3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name(s)</mat-label>
      <input matInput id="rsvp-name" type="text" formControlName="name" class="form-control" required>
    </mat-form-field>
  </div>

  <div class="mb-3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Dietary requirements</mat-label>
      <textarea matInput type="text" formControlName="dietaryRequirements" class="form-control"></textarea>
    </mat-form-field>
  </div>

  <div class="my-radio-button">
    <input [value]="1" id="yes" [(ngModel)]="attendingStatus" formControlName="attending" type="radio" required />
    <label for="yes" [ngClass]="{'selected-radio green-radio': attendingStatus === 1}">
      <mat-icon>sentiment_very_satisfied</mat-icon>
      <span>I/we would love to be there</span>
    </label>

    <input [value]="0" id="no" [(ngModel)]="attendingStatus" formControlName="attending" type="radio" required />
    <label for="no" [ngClass]="{'selected-radio red-radio': attendingStatus === 0}">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <span>Sorry, I/we can't make it</span>
    </label>
  </div>

  <div class="mb-3">
    <button mat-stroked-button class="submit-button" color="primary" type="submit" [disabled]="!rsvpForm.valid">
      Confirm
    </button>
  </div>
</form>

<div class="success-form" *ngIf="success">
  <div>
    <img src="https://media4.giphy.com/media/f4DhsqfXa6Mz5sF0Ml/giphy.gif" />
    <mat-icon>check</mat-icon>
    <h2>Thank you!</h2>
  </div>
  <p>{{ attendingStatus === 1 ? "We can't wait to see you there!" : "We're sorry you can't make it." }}</p>
  <button mat-raised-button class="submit-button" (click)="closeSuccessForm()">Done</button>
</div>