.top-nav-buttons {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  background-color: rgb(112 128 144 / 50%);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: block;

  a {
    padding: 0 36px;
    cursor: pointer;
    color: #fff;
  }
}

.mobile-menu-button {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 715px) {
  .mobile-menu-button {
    display: block;
    padding: 8px;
    height: 26px;
    width: 26px;
    color: #fff;
  }

  .top-nav-buttons {
    display: grid;
    padding-bottom: 0;
    position: inherit;
  }
}

.top-image {
  position: relative;
  height: 60vw;
  max-height: 100vh;
}

.img-wrap:before {
  content: "";
  background-image: linear-gradient(to top, rgb(239, 239, 239), rgba(0, 0, 0, 0));
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 33%;
}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 60vw;
  object-position: top;
}

.center-button {
  position: absolute;
  bottom: 10%;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  button {
    background-color: #54929f;
    width: 160px;
    color: #fff;
    border-radius: 20px;
    font-family: "Playfair Display", serif !important;
    font-size: 20px;
  }

  button:hover {
    background-color: #4b7781;
  }
}
