<div class="relative overflow-hidden h-96 sm:h-auto px-8 sm:px-0">
  <div class="flex relative z-20 items-center overflow-hidden h-full">
    <div class="mx-auto sm:mx-0 lg:mx-8 flex relative h-full">
      <div
        class="absolute bottom-0 right-0 w-60 sm:w-1/2 lg:w-2/5 p-8 flex flex-col sm:relative z-20 bg-blue text-white cursor-pointer"
      >
        <h1 class="uppercase sm:text-4xl font-black flex flex-col leading-none">
          We Love...
        </h1>
        <p class="text-sm sm:text-base hidden md:block">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          dolores esse tenetur rem.
        </p>
        <p class="text-sm sm:text-base md:hidden">
          Lorem ipsum dolor, sit amet.
        </p>
        <div class="flex mt-auto">
          <a href="#" class="uppercase py-2 rounded-lg bg-transparent text-md">
            Read more >
          </a>
        </div>
      </div>
      <div class="block w-full lg:w-3/5 relative">
        <img
          src="https://s3-alpha-sig.figma.com/img/8d7d/973a/c3bc8b454af5344a07f8ad24db903353?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=anFXNxg-QNWcZArFg27ybp0nPaFkYeGl5RsCvydYMLmbvTrVaaOpOxg25MgupQH31onmFxk4gaSiYpFde4O9Bj87bugnpGZbWD3mO~C8~xS9kT9VflQiWLgx9U55E2zLZulrrAaMvfTJzbbqTqWKXo2uhgRo0YA1bjWqiPgb-~mwOwkxvohUkDoiEbclLyUXeiHY3d9D7OK6m1KRNcwikONkaJlYefM9k1k6r77sSiVrXYGOOWqqHeeD5sxXJfNBCbDGMvfROYl3PZJDURoIKyyHCZl63lbSpnzDbSQTEq4dFhu~mzPY2Pt7ZXTEvC2JBNm~gUrt0-pOySzsQQaV8w__"
          class="w-80 h-80 object-cover sm:w-full m-auto"
        />
      </div>
    </div>
  </div>
</div>
