<div class="text-center text-xs m-auto">
  <a [href]="mobileNav.href">
    <div>
      <div class="m-auto h-full">
        <app-icon
          [class.hidden]="onCurrentPage"
          class="h-4 m-auto"
          [icon]="mobileNav.icon"
          color="black"
        ></app-icon>
        <app-icon
          [class.hidden]="!onCurrentPage"
          class="h-4 m-auto"
          [icon]="mobileNav.icon"
          color="primary"
        ></app-icon>
      </div>
    </div>
    <p [class.text-primary]="onCurrentPage" [class.text-black]="!onCurrentPage">
      {{ mobileNav.text }}
    </p>
  </a>
</div>
