<div class="mx-auto max-w-2xl px-10 pb-32 md:px-6 lg:max-w-7xl lg:px-8">
  <div class="mx-auto flex justify-between pb-6">
    <app-heading3>Soft Toys</app-heading3>
    <app-button prependIcon="filter" text="FILTER"></app-button>
  </div>

  <div
    class="grid gap-x-2.5 gap-y-6 grid-cols-2 sm:grid-cols-3 sm:gap-x-3 md:grid-cols-4 lg:grid-cols-6 lg:gap-x-4 xl:grid-cols-6"
  >
    <a
      [appNavigateTo]="'product/' + product.id"
      tabindex="0"
      class="group cursor-pointer transition ease-in-out delay-150 hover:translate-y-0 hover:scale-105 duration-300"
      *ngFor="let product of products"
    >
      <img
        [src]="product.imageSrc"
        [alt]="product.alt"
        class="w-full max-w-full h-40 md:h-auto object-cover rounded"
      />
      <div class="pt-2.5">
        <p
          class="text-sm/[14px] sm:text-base/5 font-bold text-wrap line-clamp-3 md:line-clamp-2"
        >
          {{ product.title }}
        </p>
        <p
          class="text-xs/4 sm:text-sm font-bold opacity-30 block mt-1.5 sm:mt-0"
        >
          £{{ product.price }}
        </p>
      </div>
    </a>
  </div>
</div>
