<div class="mx-auto px-10 pb-32 lg:max-w-7xl">
  <div class="mx-auto flex justify-between pb-6">
    <app-heading3>Soft Toys</app-heading3>
    <app-button prependIcon="filter" text="FILTER"></app-button>
  </div>

  <div
    class="grid gap-x-2.5 gap-y-6 grid-cols-2 sm:grid-cols-3 sm:gap-x-3 md:grid-cols-4 lg:grid-cols-6 lg:gap-x-4 xl:grid-cols-6"
  >
    <a
      [appNavigateTo]="'product/' + product.id"
      tabindex="0"
      class="group cursor-pointer transition ease-in-out delay-150 hover:translate-y-0 hover:scale-105 duration-300"
      *ngFor="let product of products"
    >
      <app-carousel-card [card]="product" [type]="twoRowCarouselType">
      </app-carousel-card>
    </a>
  </div>
</div>
