<div>
  <app-eyebrow class="text-center">
    {{ sectionData.header }}
  </app-eyebrow>
  <div>
    <div class="flex justify-self-end">
      <p
        [class]="sectionData.color"
        class="h-32 w-32 text-lg/5 font-semibold tracking-wider content-center text-white text-center"
      >
        {{ sectionData.step }}
      </p>
      <img class="max-h-52" [src]="sectionData.src" [alt]="sectionData.alt" />
    </div>
    <div>
      <app-heading2>
        {{ sectionData.subHeader }}
      </app-heading2>
      <app-body>
        {{ sectionData.body }}
      </app-body>
    </div>
  </div>
</div>
