<div class="h-screen relative isolate max-w-2xl mx-auto lg:max-w-7xl">
  <app-hero-section-with-image></app-hero-section-with-image>
  <app-carousel [carouselData]="categoryCarousel"></app-carousel>
  <app-hero-section-half-and-half></app-hero-section-half-and-half>
  <app-carousel [carouselData]="shopLocalCarousel"></app-carousel>
  <app-hero-section-with-shapes></app-hero-section-with-shapes>
  <div id="footer" class="flex h-56 pb-16 sm:pb-0 bg-primary">
    <p class="m-auto">footer will be here</p>
  </div>
</div>
